* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
   
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 75px;
    background-image: linear-gradient(#00308F, #1584DA);
    
}

.logo img {
    height: 50px;
    /* Adjust as needed for logo size */
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-left: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.donate-button {
    background-color: white;
    color: #00308F;
    padding: 8px 20px;
    border-radius: 20px;
    font-weight: bold;
}

.donate-button:hover {
    background-color: #00308F;
    color: white;
    transition: 0.3s;
}
